<section>
    <h2 class="text-main text-center my-2 ">Forget Password</h2>
    @if (step==1) {
        <form (ngSubmit)="verifyEmailFun()" [formGroup]="verifyEmail" class="rounded-4 shadow p-3 bg-main-light">
        <div class="d-flex align-items-start justify-content-lg-between flex-column my-2">
        <label for="email">Email</label>
        <input formControlName="email" type="email" id="email" class="form-control">
    </div>
    <button [disabled]="verifyEmail.invalid" class="btn-main">Verify Email
        @if (isLoading) {<span><i class="fas fa-spin fa-spinner"></i></span>}
    </button>
    </form>
    }

    @else if (step==2) {
        <form (ngSubmit)="verifyCodeFun()" [formGroup]="verifyCode" class="rounded-4 p-3 shadow bg-main-light">
        <div class="my-2">
            <label for="verifyCode">Verification Code</label>
            <input type="text" name="verifyCode" id="verifyCode" formControlName="resetCode" class="form-control">
        </div>
        <button [disabled]="verifyCode.invalid" class="btn-main">Verify
            @if (isLoading) {<span><i class="fas fa-spin fa-spinner"></i></span>}
        </button>
        @if (msgErr) {
            <p class="alert-danger alert rounded shadow p-2 mt-2" >{{msgErr}}</p>
        }
    </form>
    }

    @else if (step==3) {
        <form (ngSubmit)="resetPasswordFun()" [formGroup]="resetPassword">
        <div class="my-2">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" readonly class="form-control" formControlName="email">
        </div>
        <div class="my-2">
            <label for="newPassword">New Password</label>
            <input type="text" name="newPassword" id="newPassword" formControlName="newPassword" class="form-control">
        </div>
        <button [disabled]="resetPassword.invalid" class="btn-main" >Reset Password
            @if (isLoading) {<span><i class="fas fa-spin fa-spinner"></i></span>}
        </button>
    </form>
    }
</section>